# Dependency directories
node_modules/

# Compiled binary addons (https://nodejs.org/api/addons.html)
build/Release

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local